<p>
  showcase-arch-widgets works!
</p>

<router-outlet></router-outlet>

<div class="row">
  <div class="col-sm-12">
    <p> Buttons </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p>Button appear with only text</p>
    <amex-button (callback)="clickEvent()" 
      [btnType]="btnSize" 
      [btnLable]="btnText">
    </amex-button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p>button appear text with icon with pass param value</p>
    <amex-button
      (callback)="clickEventWithParam('Bhushan')"
      [btnType]="btnwithIcon" 
      [btnIcon]="btnIconValue" 
      [btnLable]="btnText">
    </amex-button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p>button only appear icon</p>
    <amex-button
      [btnType]="btnOnlyIcon" 
      [btnIcon]="btnIconValue">
    </amex-button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p>button disable</p>
    <amex-button
      [btnType]="btnOnlyIcon" 
      [btnIcon]="btnIconValue" 
      [btnLable]="btnText"
      [btnDisable]="isDisable">
    </amex-button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p> input Box </p>
  </div>
</div>

<!--<div class="row">
  <div class="col-lg-6">
    <p>without label with required false</p>
    <amex-input 
      [inputFormat]="'text'"
      [bindVariable]="user.name"
      [inputPlaceholder]="user.placeholder"
      [inputLable]="'name'">
    </amex-input>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <p>without label with required true</p>
    <amex-input 
    [inputFormat]="'text'"
      [bindVariable]="user.name"
      [inputPlaceholder]="user.placeholder"
      [inputLable]=""
      [isRequired]="true">
    </amex-input>
  </div>
</div>-->

<!--<div class="row">
  <div class="col-lg-6">
    <p>disable true</p>
    <amex-input 
      [inputFormat]="'text'"
      [bindVariable]="user.name"
      [inputPlaceholder]="user.placeholder"
      [inputLable]=""
      [isRequired]="true"
      [isDisabled]="false">
    </amex-input>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <p>Max value 6</p>
    <amex-input 
      [inputFormat]="'number'"
      [bindVariable]="user.name"
      [inputPlaceholder]="user.placeholder"
      [inputLable]=""
      [isRequired]="true">
    </amex-input>
  </div>
</div>-->

<!--<div class="row">
  <div class="col-lg-6">
    <p>size 8 limit</p>
    <amex-input 
      [inputFormat]="'text'"
      [bindVariable]="user.name"
      [inputPlaceholder]="user.placeholder"
      [inputLable]=""
      [isRequired]="true">
    </amex-input>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <p>onchange</p>
    <amex-input 
      [inputFormat]="'text'"
      [bindVariable]="user.name"
      [inputPlaceholder]="user.placeholder"
      [inputLable]=""
      [isRequired]="true">
    </amex-input>
  </div>
</div>-->
