<!--<div class="input-group">
      <span class="input-group-addon" id="basic-addon1">@</span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>-->
<div *ngIf="inputLable">
  <div class="form-group" *ngIf="inputFormat === 'text'">
    <label for="exampleInputEmail1">{{inputLable}}</label>
    <input type="inputFormat" class="form-control" [(ngModel)]="bindVariable" 
      [placeholder]="inputPlaceholder" 
      [required]="isRequired" [disabled]="isDisabled" [size]="limitChar"/>
  </div>
</div>

<!--<div class="form-group" *ngIf="inputFormat === 'number' && inputLable">
    <label for="exampleInputEmail1">{{inputLable}}</label>
    <input type="inputFormat" class="form-control" [(ngModel)]="bindVariable" [placeholder]="inputPlaceholder" 
      [required]="isRequired" [disabled]="isDisabled" [max]="maxLength" [min]="minLength"/>
  </div>-->

<div *ngIf="!inputLable">
  <div class="form-group" *ngIf="inputFormat === 'text'">
    <input type="inputFormat" class="form-control" [(ngModel)]="bindVariable" [placeholder]="inputPlaceholder"
      [required]="isRequired" [disabled]="isDisabled" [size]="limitChar"/>
  </div>
</div>

<!--<div class="form-group" *ngIf="inputFormat === 'number'&& !inputLable">
    <input type="inputFormat" class="form-control" [(ngModel)]="bindVariable" [placeholder]="inputPlaceholder" 
      [required]="isRequired" [disabled]="isDisabled" [max]="maxLength" [min]="minLength"/>
  </div>-->