.Spinner {
border: 2px solid #FFF;
border-top-color: transparent;
border-left-color: transparent;
width: 15px;
height: 15px;
opacity: 0.8;
border-radius: 50%;
margin-right: 4px;
animation: loadingSpinner 0.7s infinite linear;
-webkit-animation: loadingSpinner 0.7s infinite linear;
}
.Spinner-lg{
border: 5px solid #1274b8;
border-top-color: transparent;
border-left-color: transparent;
width: 70px;
height: 70px;
opacity: 0.8;
border-radius: 50%;
margin-right: 4px;
animation: loadingSpinner 0.7s infinite linear;
-webkit-animation: loadingSpinner 0.7s infinite linear;
} 
.Spinner-disabled {
border: 2px solid #1274b8;
border-top-color: transparent;
border-left-color: transparent;
width: 15px;
height: 15px;
opacity: 0.8;
border-radius: 50%;
margin-right: 4px;
animation: loadingSpinner 0.7s infinite linear;
-webkit-animation: loadingSpinner 0.7s infinite linear;
}
.loader-wrapper{
	width: 100%;
    height: 100%;
    position: absolute;
    background-color: #FCFCFC;
    opacity: 0.7;
    z-index: 10001;
}
.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 9999;
	border: 5px solid #1274b8;
	border-top-color: transparent;
	border-left-color: transparent;
	width: 70px;
	height: 70px;
	opacity: 0.8;
	border-radius: 50%;
	margin-right: 4px;
	background-color: transparent;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
	animation: loadingSpinner 0.7s infinite linear;
	-webkit-animation: loadingSpinner 0.7s infinite linear;
}
button .Spinner,button .Spinner-disabled {
position: static;
display:inline-block;
transition: width 0.25s;
} 

@keyframes loadingSpinner {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}
@-webkit-keyframes loadingSpinner {
from {
-webkit-transform: rotate(0deg);
}
to {
-webkit-transform: rotate(360deg);
}
}
